*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Outfit', sans-serif;
	font-family: 'Fraunces', serif;
	font-size: 14px;
}

html, body{
	overflow: hidden;
}

#caixa-principal{
	width: 80%;
	height: 500px;
	margin: 8% auto;
	padding: 110px;
	box-sizing: border-box;
	background-color: hsl(30, 38%, 92%);
	
}


#area-produto{
	border: 1px solid #000;
	width: 386px;
	height: 350px;
	margin: -40px auto;
	border-radius: 8px;
}


img{
	width: 193px;
	height: 350px;
	float: left;
	border-radius: 8px 0 0 8px;
}

#area-texto{
	width: 190px;
	height: 350px;
	float: right;
	border-radius: 0 8px 8px 0;
	border: 1px solid red;
}